= simple_form_for(@app) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :bundle_identifier
    = f.input :publisher
    = f.input :url

  .form-actions
    = f.button :submit
