.row
  .col-md-4.col-md-offset-1
    %h3 Assign Todos:
.row
  .col-md-8.col-md-offset-1
    Todos are parent directed daily activities that you assign to your kids.  We have currated this simple list of
    age appropriate chores to get you started, you can assign them as Todos to each child with a single click below.
    You can customize your assigned Todos for each child after the setup wizard is complete.
.row
  .col-md-10-col-md-offset-1
    - current_user.family.kids.each do |kid|
      .row
        .col-md-11.col-md-offset-1
          %hr
      .row
        .col-md-3.col-md-offset-1
          = "#{kid.first_name} (age: #{kid.age})"
          %br
          %small
            Assigned todos:
            %div{id: "child_#{kid.id}_todos"}
              - kid.todo_schedules.each do |ts|
                #{ts.todo_template.name}
                %br
        .col-md-8
          .manual_todos{ id: "manual_todos_#{kid.id}"}
            %h3 Select todos:
            - TodoTemplate.find_each do |todo|
              - unless kid.todo_templates.include?(todo)
                - checked = (todo.def_min_age .. todo.def_max_age).include?(kid.age)
                %input{ name: "manual_todos_#{kid.id}", value: todo.id, type: :checkbox, checked: checked }
                #{todo.name}
                %br
            %button.btn.btn-default{ onclick: "assign_todos(#{kid.id});"}
              Assign to #{kid.first_name}

:javascript
  function assign_todos(kidId) {
    $('#manual_todos_' + kidId ).slideUp();
    var todos_array = $('#manual_todos_' + kidId + ' input').serializeArray();
    var todos_hash = { todo_template_ids : [] }
    jQuery.each( todos_array, function( i, field) {
       todos_hash.todo_template_ids.push(field.value);
    });
    $.ajax({
      url: "/families/#{ current_user.family_id }/members/" + kidId + "/todo_templates/assign",
      dataType: 'json',
      method: 'POST',
      data: todos_hash,
      success: function(e) {
        console.log(e);
        jQuery.each(e, function(i, todo){
           $("#child_" + kidId + "_todos").append(todo.name + "<br/>");
        });
      },
      error: function() {
        alert('error');
        $('#manual_todos_' + kidId ).slideDown();
      }
    });
  }
  function save_info(args) {
    $.ajax({
      url: '/wizard',
      dataType: 'json',
      method: 'PUT',
      data: {
        step: 4
      },
      success: function() {
        args && args.success && args.success();
      },
      error: function(e) {
        alert("Sorry, there was an error saving your information.");
      }

    });

  }